<!DOCTYPE html>
<html>
	<head>
		<!-- Character Set -->
		<meta charset="utf-8">
		<!-- Author -->
		<meta name="author" content="Daragh Broderick">
		<!-- Style Sheet -->
		<link rel="stylesheet" href="./site/stylesheet.css">
		<!-- Title -->
		<title>DeeVeeDee - The DVD Rental System</title>
	</head>
	<body>
		<header>
			<div id="logo">
				<p id="logo_text">DeeVeeDee</p>
			</div>
			<div id="search">
				<!-- Fill search field here -->
			</div>
			<div id="header_menu">
				<ul id="genres">
					<li class="list">
						Thriller
					</li>
					<li class="list">
						Comedy
					</li>
					<li class="list">
						Documentary
					</li>
					<li class="list">
						Romantic
					</li>
				</ul>
			</div>
		</header>
		
		<!--code for login-->
		
		<pre>
		  
		  
		  
		</pre>
	<div  id="Login">

<form>
Username<br>
<input type="text" name="Username" id="form">
<br>
Password<br>
<input type="Password" name="Password" id="form">
</form>
<button type="button">Login</button>

	
	<pre>
	  
	  
	   
	 
	  
	</pre>
	
	</div>
		<!---->
		
		<footer>
    	<div id="footer">
    		DeeVeeDee Team 2015
    	</div>
    </footer>