<!DOCTYPE html>
<html>

<head>
    <!-- Character Set -->
    <meta charset="utf-8">
    <!-- Author -->
    <meta name="author" content="Zhenbang Xiao">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="./site/stylesheet.css">
    <!-- Title -->
    <title>DeeVeeDee - The DVD Rental System</title>
</head>

<body>
    <header>
        <div id="logo">
            <p id="logo_text">DeeVeeDee</p>
        </div>
        <div id="search">
            <!-- Fill search field here -->
        </div>
        <div id="header_menu">
            <ul id="genres">
                <li class="list">
                    Thriller
                </li>
                <li class="list">
                    Comedy
                </li>
                <li class="list">
                    Documentary
                </li>
                <li class="list">
                    Romantic
                </li>
            </ul>
        </div>
    </header>
    <!-- Insert your code here -->
    <a href= "TempImages/title.jpg" target="_blank"> <img title="Title image" src="TempImage/title.jpg" alt="main" id="id1"></a>
    
<table id="details">
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>

    <footer>
    	<div id="footer">
    		DeeVeeDee Team 2015
    	</div>
    </footer>
</body>

</html>
