/* Style sheet for universal usage */
/* Author: Zhenbang Xiao */
/* Font Reference */

@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(http://fonts.googleapis.com/css?family=Antic);
/* Universal Style */

html {
    height: 100%;
}

body {
    background-color: #eeeeee;
    margin: 0 0 0 0;
    overflow: auto;
    height: 100%;
}

header {}

#welcome {
	font-family: 'Antic', Helvetica, sans-serif;
	color: #FFFFFF;
	padding: 20px 0 0 25px;
	margin: 0 0 0 0;
}

#logo {
    background-color: #000000;
    width: 100%;
    margin: 0 0 0 0;
}

#logo_text {
    font-family: 'Julius Sans One', Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-indent: 20px;
    margin: 0 0 0 0;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 30%;
    text-align: left;
    float: left;
}

#search {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 30%;
    height: 40px;
    text-align: left;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

#search-field {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    width: 89%;
    border: 0;
}

#search-button {
    border: 0;
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 0;
    margin-top: 9px;
    cursor: pointer;
}

#header_menu {
    background-color: #000000;
}

#genres {
    margin: 0 0 0 0;
    list-style-type: none;
    overflow: hidden;
    padding: 0 20px 20px 0px;
    width: 100%;
    position: relative;
}

.list {
    display: inline;
}

.list a:link,
.list a:visited {
    font-family: 'Antic', Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    display: inherit;
    margin: 0 15px 0 15px;
    padding: 0 5px 0 5px;
    color: #FFFFFF;
}

.list a:hover {
    background-color: green;
    font-family: 'Antic', Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    display: inherit;
    margin: 0 15px 0 15px;
    padding: 0 5px 0 5px;
    color: #FFFFFF;
}

#main-container {
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    scrolling: no;
}

footer {
    margin: 0 0 0 0;
    
}

#footer {
    font-family: 'Antic', Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
    bottom: 0;
    left: 0;
    margin: 0 0 0 0;
    padding: 30px 0 30px 0;
    clear:both;
}
/*Cathal hayes Start*/
#TitleImage{
    height:282px;
    width:200px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;

}
#details{
    font-family: 'Julius Sans One', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid black;
    width:auto;
    float:left;
    }

    
  #Trailer{
    height=158px;
    width=280px;
    float:left;
    padding-left: 300px;
    
    
  }
  table, th, td {
   border: 1px solid black;
}
  
/*Cathal hayes End*/

/*Results page ID's*/
#refineBy {
	border:solid 2px;
	border-color: black;
	float:left;
	padding: 5px;
	margin: 5px;
}
#contentResults{
	border:solid 2px;
	border-color: black;
	float: left;
	margin: 5px;
	padding: 5px;
}
#contentTitle{
	text-align: center;
}
div.img {
	margin: 15px;
	padding: 5px;
	height: auto;
	width: auto;
	float: left;
	text-align: center;
}
div.img img {
	display: inline;
	margin: 5px;
	border: 1px solid #ffffff;
}
div.img a:hover img {
	border:1px solid #0000ff;
}
div.desc {
	text-align: center;
	font-weight: normal;
	width: 120px;
}
a.links{
	color: black;
	text-decoration: none;
}

