/* Style sheet for universal usage */
/* Author: Zhenbang Xiao */
/* Font Reference */
/* Universal Style */

body {
    background-color: #eeeeee;
    margin: 0 0 0 0;
}

header {}

#logo {
    background-color: #000000;
    width: 100%;
    margin: 0 0 0 0;
}

#logo_text {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-indent: 25px;
    margin: 0 0 0 0;
    color: green;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 75%;
}

#header_menu {
    background-color: #000000;
}

#genres {
    margin: 0 0 0 0;
    list-style-type: none;
    overflow: hidden;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    position: relative;
    text-indent: 25px;
}

.list {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-size: bold;
    display: inline;
    margin: 0 0 0 0;
    padding-right: 20px;
    color: #FFFFFF;
}
